<!DOCTYPE html>
<html>
  <head>
    <title>Itngchat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application',  'data-turbolinks-track': 'reload' %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="https://app-eu.richcall.io/js/richcall.widget.js?company-id=521c3999-53b1-450c-b026-cd74d2357128&menu-id=2fd07189-4757-43f8-a85c-eed4f6a3c88c&left=0&locale=en&mode=3&width=250&themeColor=7414c4&fontColor=fd890d" async></script>
    
  </head>
  <body>
  
  <%= yield %>
  </body>
  

  
  </html>
